// **************
// CULORI
// **************


$action_color: #68B89A;
$fundal_meta: #462F50;
$containter: rgba(210, 119, 198, 0.31);
$fundal_harta: rgba(229, 229, 229,0);
$text_link: rgb(238, 239, 192);
$text-shadow: #594f4f;

html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
	background-size: cover;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0px;
	padding: 0px;
}

#containter {
  position: absolute;
  right:0;
	width:40%;
	height:100vh;
	float:right;
	background-color:$containter;
}

#meta {
position:absolute;
background-color: $fundal_meta;
width: 60%;
height: 100vh;
z-index: 0;

}


#map {
	background-color:transparent;
	display: block;
	width: 100%;
	height: 100vh;
	float:left;
  position: absolute;
}


#title {
	width:100%;
	height:10%;
	max-height: 50px;
	min-height: 50px;
	background-color: $action_color;
	color: #fff;
	font-size: 22px;
	float:right;
	text-align: center;
	border-bottom: 3px solid darken($action_color, 20%);
	
	font-weight: 700;
}

.vertical-center {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}


a{
	text-decoration: none;
	color: $text_link;

}

#info {
margin-top: 60px;
display: block;
width: 100%;
padding:10px 10px;
font-size: 110%;
text-align: left;
color: #fff;
text-shadow: 2px 2px $text-shadow;

}



.button {
  display: inline-block;
	margin-top: 25px;
	text-decoration: none;
	padding:6px 10px;
	background-color: $action_color;
	color: #fff;
	border-radius: 5px;

    &:hover {
    background-color: darken($action_color, 15%);
    }

    &:active {
    background-color: darken($action_color, 25%);
    position: relative;
    top: 2px;
    left: 1px;
    border-bottom: 2px solid darken($action_color, 30%);
    }
}

.inJos {
	text-decoration: none;
	padding:9px 15px;
	background-color: $action_color;
	color: #fff;
	border-radius: 5px;
	position: absolute;
	top: 59px;
	right:61px;
	display: none;
}






 

 /******* SLIDER ********************/

 .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


  .rslides_nav.rslides_nav.prev {   
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: url("images/butons.png") no-repeat left 50%;
  width: 38px;
  
  
  }


  .rslides_nav.rslides_nav.next {   
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  background: url("images/butons.png") no-repeat right 50%;
  width: 38px;}

  

  @media (max-width: 700px) { 
    #containter {
      height: 50vh;
      width: 100%;
      bottom: 0;
    }

    #meta {
      height: 50vh;
      width: 100%;
      top: 0;
    }

   }