html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#map {
	display: block;
	width: 60%;
	height: 650px;
	float:left;}


#title {
	width:40%;
	height:50px;
	background-color: #68B89A;
	color: #fff;
	font-size: 22px;
	float:right;
	text-align: center;
	border-bottom: 2px solid #4D8C75;
	
	font-weight: 700;
}

.vertical-center {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}

#info {
display: block;
width: 40%;
height: 300px;
float:right;
background-color: pink;
padding: 10px;
}

#meta {
display: block;
width: 40%;
height: 300px;
float:right;
text-align: center;
font-style: italic;
}

.button {
	margin-top: 25px;
	text-decoration: none;
	padding:5px;
	background-color: #68B89A;
	color: #fff;

}

.button:hover {
	background-color: #7CD9B6;
}
