html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
	background-image: url('images/bg-cover.jpg');
	background-size: cover;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0px;
	padding: 0px;

}

#containter {
	width:40%;
	height:100vh;
	float:right;
	background-color:rgba(210, 119, 198, 0.31);
}

#map {
	background-color:rgba(229, 229, 229,0);
	display: block;
	width: 60%;
	height: 100vh;
	float:left;}


#title {
	width:100%;
	height:10%;
	max-height: 50px;
	min-height: 50px;
	background-color: #68B89A;
	color: #fff;
	font-size: 22px;
	float:right;
	text-align: center;
	border-bottom: 3px solid #4D8C75;
	
	font-weight: 700;
}

.vertical-center {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}
a{
	text-decoration: none;
	color: rgb(238, 239, 192);
}

#info {
display: block;
width: 100%;
height: 55%;
float:right;
padding:0px 10px;
font-size: 120%;
text-align: center;
color: #fff;
text-shadow: 2px 2px #594f4f;

}

#meta {
display: block;
width: 40%;
height: 35%;
float:right;
text-align: center;
font-style: italic;
color: #fff;
text-shadow: 2px 2px #594F4F;
/*
background-image: url('images/bg.jpg');
background-size: cover;
*/
position: absolute;
bottom: 0px;
}

.button {
	margin-top: 25px;
	text-decoration: none;
	padding:6px 10px;
	background-color: #68B89A;
	color: #fff;
	border-radius: 5px;

}

.button:hover {
	background-color: #4D8C75;
}
.button:active {
	background-color: #477C6B;
	position: relative;
	top: 2px;
	left: 1px;
	border-bottom: 2px solid #29473E;
	/*
	border-bottom: 4px solid #29473E;
	*/
}


/* Media QUERyES  */

 @media (max-width:800px) {
  #containter{width:100%; height: 60vh}	
  #map {width: 100%; height: 40vh; min-height: 350px; margin-top: 50px}
  #title {width: 100%; position: absolute; top:0px;max-height: 50px; min-height: 50px}
  #info {width: 50%;height: 100%; ;float:left}
  #meta {position: relative; width: 50%;height: 100%; background-color: rgba(99, 150, 146, 0.5)}
  }

@media (max-width: 500px) {
  #map {width: 100%; height: 400px;}
  #title {width: 100%}
  #info {width: 100%}
  #meta {width: 100%}
  }

 